h1{
    font-size: 32px;
    font-weight: 800;
    margin: 10px 0px;
}
.todoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.todoForm{
    margin: 0px 20px;
    display: flex;
}
input{
    margin: 0px 10px;
    margin-top: 10px;
    border: 2px solid rgb(243, 240, 240);
    border-radius: 10px;
    padding: 5px;
}
.addButton{
    background-color: aqua;
    border-radius: 10px;
    padding: 5px;
}
.todoItems{
    background-color: rgb(236, 234, 234);
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 10px;
    margin-top: 20px;
}
.todoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    cursor: pointer;
    height: 40px;
    margin-top: 8px;
}
.matIcon{
    font-size: 20px;
    cursor: pointer;
}
.todoButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.validationText{
    font-size: 15px;
    color: red;
    padding: 0px 10px;
}