server {
  listen 80;
  server_name localhost;

  root /usr/share/nginx/html;
  index index.html;

  # Redirect all routes to index.html (for Angular routing)
  location / {
    try_files $uri $uri/ /index.html;
  }
  
  # Optional: disable caching for development
  location ~* \.(?:manifest|appcache|html?|xml|json)$ {
    add_header Cache-Control "no-store";
  }
}
