.modelMainDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: center;
}
.modelContainer{
    min-width: 400px;
    max-width: 500px;
    min-height: 300px;
    background-color:rgb(233, 236, 240);
    border-radius: 20px;
    padding: 20px;
}
.modalHeader{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.closeIcon{
    cursor: pointer;
}