
button,a{
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    font-size: 14px;
    margin-top: 16px;
    cursor: pointer;
    margin-left: 10px;
}
.dogSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.dogCard{
    width: 400px;
    background-color: rgb(203, 240, 240);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.dogDescription{
    font-size: 13px;
}