.postContainer{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.postTitle{
    font-size: 16px;
    font-weight: 700;
}
.postBody{
    font-size: 14px;
    cursor: pointer;
}
.viewCommentButton{
    cursor: pointer;
}